<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Título</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis qui
      odit necessitatibus recusandae, earum voluptatum porro iste sed quis sequi
      cupiditate nulla distinctio fugiat soluta reprehenderit magni
      exercitationem quos iure?
    </p>
  </body>
</html>
